<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link rel="icon" type="image/x-icon" href="img/favicon-alex.png">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <script src="https://kit.fontawesome.com/dcfdec84e3.js" crossorigin="anonymous"></script>
    <title>FrontEnd Portfolio</title>
</head>
<body>
    <!-- Load Page -->
    <div class="loadPage" id="loadPage">
        <img src="img/logo-alex.png" class="loadPage-Img">
        <div class="progress">
            <div class="progress-value"></div>
        </div>
        <p class="loadPage-Text">Loading please wait...</p>
    </div>
    <!-- Parallax -->
    <div class="parallax">
        <img src="img/logo-alex.png" class="parallax-Img">
    </div>
    <!-- Burger Menu -->
    <div id="burgerMenu-Main">
        <div class="navSection-Mobile_Hidden" id="burgerMenu-Main_NavBar">
            <ul class="navSection-Bar_Mobile">
                <a href="#" class="navSection-Bar_Btn-Mobile"><li>Home</li></a>
                <a href="#aboutMe" class="navSection-Bar_Btn-Mobile"><li>About Me</li></a>
                <a href="#projects" class="navSection-Bar_Btn-Mobile"><li>Projects</li></a>
                <a href="#contact" class="navSection-Bar_Btn-Mobile"><li>Contact</li></a>
            </ul>
        </div>
    </div>
    <!-- Start -->
    <header>
        <div class="headerMain" class="burgerMenu-Main_Hidden">
            <a href="#"><img src="img/logo-alex.png" alt="" class="headerMain-Logo"></a>
            <div class="headerMain-Burger" id="headerMain-Burger">
                <i class="fa-solid fa-bars" id="headerMain-Burger_Btn"></i>
            </div>
        </div>
    </header>
    <nav>
        <div class="navSection">
            <ul class="navSection-Bar">
                <a href="#" class="navSection-Bar_Btn"><li>Home</li></a>
                <a href="#aboutMe" class="navSection-Bar_Btn"><li>About Me</li></a>
                <a href="#projects" class="navSection-Bar_Btn"><li>Projects</li></a>
                <a href="#contact" class="navSection-Bar_Btn"><li>Contact</li></a>
            </ul>
        </div>
    </nav>
    <main>
        <div class="home">
            <div class="home-Main">
                <h2 class="home-Main_Title">Hi!</h2>
                <h3 class="home-Main_Text">I'm Alexis Martin Arango</h3>
                <p class="home-Main_Text-Small">Junior Front-end Developer</p>
            </div>
        </div>
        <div class="aboutMe" id="aboutMe">
            <div class="aboutMe-Main">
                <p></p>
            </div>
        </div>
        <div class="projects" id="projects">
            <div class="projects-Main">

            </div>
        </div>
        <div class="contact" id="contact">
            <div class="contact-Main">

            </div>
        </div>
    </main>
    <footer>
        <div class="footer" id="footer">

        </div>
    </footer id=>
    <a href="#" id="backToTop-Main">
        <div id="backToTop-Main_Btn">
                <i class="fa-solid fa-arrow-up-long" id="#arrow"></i>
        </div>
    </a>
    <script src="js/loadPage.js"></script>
    <script src="js/burgerMenu.js"></script>
    <script src="js/backToBtn.js"></script>
</body>
</html>