* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body {
    background-color: rgba(26, 26, 26, 1);
    -webkit-tap-highlight-color: transparent;
    font-family: 'Rubik', sans-serif;
    background-image: url("/img/bg-alex.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
}

header {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(0, 0, 0, 0.85);
}

.headerMain {
    width: 100%;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.headerMain-Logo {
    width: 50px;
    user-select: none;
} 

.navSection {
    display: none;
}

.navSection-Bar {
    display: flex;
    width: 90%;
    height: 50px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.navSection-Bar_Btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    padding: 15px;
    color: rgba(250,250,250,1);
    margin: 3px;
    border-radius: 5px;
    text-decoration: none;
    list-style: none;
    user-select: none;
    background-color: rgba(0,0,0, 0.85);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease-in-out;
}

.navSection-Bar_Btn:hover li {
    transition: all 0.3s ease-in-out;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.5));
}

.navSection-Bar_Btn:hover {
    transform: scale(1.015);
    background-color: rgba(0,0,0, 1);
}

main {
    width: 100%;
}

.home {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.home-Main {
    display: block;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 1080px;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    text-align: right;
}

.home-Main_Title {
    font-size: 50px;
    color: rgba(250,250,250,1);
    user-select: none;
    animation: fadeIn 2s;
    transition: all 0.3s ease-in-out;
}

.home-Main_Text {
    font-size: 30px;
    color: rgba(250,250,250,1);
    user-select: none;
    animation: fadeIn 2s
}

.aboutMe {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.aboutMe-Main {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 1080px;
    margin: 10px;
    border-radius: 5px;
}

.backToTop {
    position: fixed;
    right: 1%;
    bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 31, 31, 1);
    box-shadow: rgba(0, 0, 0, 0.85) 3px 3px 8px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.backToTop-Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    user-select: none;
    font-size: 20px;
    color: rgba(250,250,250,1);
    transition: all 0.3s ease-in-out;
}

.backToTop-Main a {
    text-decoration: none;
    color: rgba(250,250,250,1);
}

.backToTop-Main:hover {
    transform: scale(1.2);
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.25));
}

/* Animations */

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  
  @media (min-width: 768px) {
    .navSection {
        display: flex;
        justify-content: center;
    }
    .home {
        width: 90%;
    }
    .home-Main {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0px 18px 18px 18px;
    }
    .home-Main_Title {
        font-size: 100px;
    }
    .home-Main_Title:hover {
        transform: scale(1.05);
        color: rgba(0,245,102,1);
    }    
    .home-Main_Text {
        font-size: 80px;
    }
    .aboutMe {
        width: 90%;
    }
    .aboutMe-Main {
        margin: 0px 18px 18px 18px;
    }
    .backToTop {
        background-color: rgba(0, 0, 0, 0.85);
    }
  }